@import './base.css';

* {
  outline: 1px solid purple;
}

/* I hate managing CSS honestly */
/* Which sounds stupid considering i have vite */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./MTIWavey2.svg'); /*url('./wavy-lines.svg'); */
  background-size: cover;
  user-select: none;
  height: 100dvh;
  margin: 0;
}

ul {
  padding: 0;
}

.calon {
  display: inline-block;
  width: 20dvw;
  margin: 0 2.5dvw;
}

.calon-list{
  display: flex;
  justify-content: space-around;
  padding: 0% 5%;
}

.calon-button {
  opacity: 0.5;
  transition: 0.3s;
}

.calon-button:hover {
  opacity: 1
}

.calon-img {
  width:18dvw;
  height:27dvw
}

.fade-in-zoom {
  animation: zoomIn 2s ease-in-out forwards, fadeBlur 1.75s cubic-bezier(.19,.73,.66,.7) forwards;
}


@keyframes zoomIn {
  0% {
    opacity: 0.1;
    transform: scale(1.2);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0px);
  }
}

@keyframes fadeBlur {
  0% {
    opacity: 0.1;
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}


@media (max-width: 720px) {
  .text {
    font-size: 20px;
  }
}

@media (max-width: 620px) {
  .versions {
    display: none;
  }
}

@media (max-width: 350px) {
  .tip,
  .actions {
    display: none;
  }
}

.trans-enter-active,
.trans-leave-active {
  transition: any 4s ease;
}

/* Button styles */
.center-moi {
  display: inline;
}

.pick-button {
  display: inline-block;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 70%;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(.3,1.25,.49,2);
  vertical-align: middle;
  opacity: 75%;
}

.pick-button.selected {
  height: 90%;
  opacity: 100%;
}

.button-holder {
  height: 7dvh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button-holder li {
  flex-grow: 1;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
  justify-content: center;
}

button {
  padding: 0;
}

@keyframes flip {
  0% {
      transition: position 2.0s;
      position: fixed;
  }

  80% {
      top: 5dvh;
      left: 5dvw;
  }

  100% {
      height: 90dvh;
      width: 90dvw;
  }
  
}